/* Base styles from Glitch */
body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  #canvas-container {
    width: 100%;
    height: 500px; /* or however tall you want it */
    position: relative;
  }