#controls {
    margin-bottom: 10px;
  }
  
  #canvasContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    overflow-x: auto;
  }
  
  canvas {
    display: block;
    image-rendering: pixelated;
    border: 1px solid #aaa;
  }
  